<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= animal.name %></title>
</head>
<body>
    <h1>Animal</h1>
    <a href="/">Back to main</a><br>
    <a href="/animal/id<%= animal._id %>/edit">Edit</a>
        <h3>Name: <%= animal.name %></h3>
        <h3>Height:  <%= animal.height %> </h3>
        <h3>Food absorves:  <%= animal.food %></h3>
        <hr>
        <form action="/delete_animal/<%= animal._id %>" method="post">
            <input type="submit" value="Delete animal" />
            
        <br>
    
</body>
</html>