@{
    ViewData["Title"] = "Home Page";
}
<h1>Dashboard || <a href="/users/@ViewBag.userId">Profile</a> || <a href="/logout">Logout</a></h1>
<h4><a href="/users/new">Add new user</a></h4>
<h2>Manage users</h2>
<table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>User status</th>
            <th>Actions</th>
        </tr>
@{
    foreach (var user in ViewBag.users)
    {   
        <tr>
            <th>@user.UserId</th>
            <th>@user.FirstName @user.LastName</th>
            <th>@user.Email</th>
            <th>@user.UserLevel</th>
            <th><a href="/users/edit/@user.UserId">Edit</a> <a href="/users/delete/@user.UserId">Delete</a></th>
        </tr>
    }
}
             
    </table>
