@{
    ViewData["Title"] = "Home Page";
}
<h1><a href="/dashboard">Dashboard</a> || Profile || <a href="/logout">Logout</a></h1>
<h4><a href="/users/edit/@ViewBag.loggeduser.UserId">Edit page</a></h4>

    <h2>@ViewBag.loggeduser.FirstName @ViewBag.loggeduser.LastName</h2>
    <p>User ID: #@ViewBag.loggeduser.UserId</p>
    <p>Email: @ViewBag.loggeduser.Email</p>
    <p>About me: @ViewBag.loggeduser.Description</p>
        <br>
    <h2>Leave message for @ViewBag.loggeduser.FirstName</h2>
        <form asp-action="CreateMessage" asp-controller="Home" asp-method="post">
        <textarea class="form-control" rows="5" name="message"></textarea>
        <br>
        <button class="btn btn-info" type="submit">Post</button>
    </form>


