<h1>@ViewBag.trail.name</h1>
<a href="/">Home</a>
<hr>
<h4>Description: @ViewBag.trail.description</h4>
<h4>Trail length: @ViewBag.trail.trailLength</h4>
<h4>Elevation Change: @ViewBag.trail.elevationChange</h4>
<hr>
<p>Longitude - @ViewBag.trail.lon</p>
<p>Latitude - @ViewBag.trail.lat</p>